.centercirc{
    display: flex;justify-content: center;align-items: center;
    margin-top: 200px;
}

.alertify-notifier .ajs-message{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 10px;
    font-size: 12px;
}